<div class="gst-contact-page">

  <app-layout-header></app-layout-header>

  <section id="main" class="gst-main">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p>contact page works!</p>
        </div>
      </div>
    </div>
  </section>

  <app-layout-footer-short></app-layout-footer-short>

</div>