.gst-footer {
  background-color: $orange;
  color: $white;
  padding: 40px 0;
  .gst-footer-general {
    text-align: center;
    .gst-link-mail {
      color: $white;
    }
  }
  .gst-copyright {
    text-align: center;
    @media (min-width: 992px) {
      text-align: left;
    }
  }
  .gst-social-media {
    margin-top: 30px;
    text-align: center;
    @media (min-width: 992px) {
      margin-top: 0;
      text-align: right;
    }
    ul {
      display: inline-block;
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        margin: 0 5px;
        img {
          vertical-align: baseline;
        }
      }
    }
  }
  .gst-footer-last-row {
    margin-top: 15px;
  }
}