.gst-header {
  background-color: $white;
  border-bottom: 1px solid #ebebeb;
  color: $gray-900;
  padding: 15px 0;
  width: 100%;
  z-index: 3;
  .gst-logo-col {
    text-align: center;
    @media (min-width: 992px) {
      text-align: left;
    }
    img.gst-logo {
      margin: 15px 0;
    }
  }
  .gst-top-menu-col {
    text-align: center;
    @media (min-width: 992px) {
      text-align: right;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        display: block;
        margin-left: 5px;
        margin-right: 5px;
        border-bottom: 1px solid #ddd;
        margin-top: 5px;
        padding-bottom: 5px;
        &.gst-item-search {
          padding-bottom: 10px;
        }
        @media (min-width: 992px) {
          border: none;
          margin-top: 0;
          padding-bottom: 0;
          display: inline-block;
          &.gst-item-search {
            margin-left: 20px;
            padding-bottom: 0;
          }
        }
      }
    }
  }
  a {
    color: $gray-900;
  }
}