<footer class="gst-footer gst-footer-short">
  <div class="container">
    <div class="row">
      <div class="col-12 gst-footer-general">
        <p class="gst-text-extra-large gst-text-light">Are you ready to redefine your own customers' experience?</p>
        <p><a href="#" class="btn btn-outline-secondary">GET STARTED</a></p>
        <p class="gst-text-large gst-text-light">Melbourne, Sydney, Brisbane</p>
        <p>1300 554 891 (+61 3 9993 4402), <a class="gst-link-mail" href="mailto:info@getstarted.com.au">info@getstarted.com.au</a></p>
      </div>
    </div>
    <div class="row gst-footer-last-row">
      <div class="col-12 col-lg-8 gst-copyright">
        <span>&copy; {{currentYear}} Get Started. All Rights Reserved. Site Map . Privacy . T’s & C’s.</span>
      </div>
      <div class="col-12 col-lg-4 gst-social-media">
        <ul>
          <li>Follow Us</li>
          <li class="gst-item-search">
            <a href="#">
              <img class="gst-icon-facebook" src="./assets/images/svg/icon-facebook.svg" alt="Facebook" />
            </a>
          </li>
          <li class="gst-item-search">
            <a href="#">
              <img class="gst-icon-twitter" src="./assets/images/svg/icon-twitter.svg" alt="Twitter" />
            </a>
          </li>
          <li class="gst-item-search">
            <a href="#">
              <img class="gst-icon-google-plus" src="./assets/images/svg/icon-google-plus.svg" alt="Google+" />
            </a>
          </li>
          <li class="gst-item-search">
            <a href="#">
              <img class="gst-icon-linkedin" src="./assets/images/svg/icon-linkedin.svg" alt="Linkedin" />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>