<header class="gst-header">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-lg-3 gst-logo-col">
        <a class="gst-logo" routerLink="/home">
          <img class="gst-logo" src="./assets/images/svg/logo-get-started.svg" alt="Get Started" />
        </a>
      </div>
      <div class="col-12 col-lg-9 gst-top-menu-col">
        <ul>
          <li>
            <a routerLink="/home">Home</a>
          </li>
          <li>
            <a routerLink="/about">About</a>
          </li>
          <li>
            <a routerLink="/work">Work</a>
          </li>
          <li>
            <a routerLink="/services">Services</a>
          </li>
          <li>
            <a routerLink="/blog">Blog</a>
          </li>
          <li>
            <a routerLink="/contact">Contact</a>
          </li>
          <li class="gst-item-search">
            <a routerLink="/search"><img class="gst-search-icon" src="./assets/images/svg/icon-search.svg" alt="Search" /></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>