<div class="gst-home-page">

  <app-layout-header></app-layout-header>

  <section id="main" class="gst-main">
    <app-welcome-001></app-welcome-001>
  </section>

  <app-layout-footer-short></app-layout-footer-short>

</div>