<div class="gst-not-found-page">

  <app-layout-header></app-layout-header>

  <section id="main" class="gst-main">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="gst-404-error-template">
            <h1>Oops!</h1>
            <h2>404 page not found</h2>
            <p class="error-details">Sorry, an error has occured: the requested page was not found.</p>
            <div class="error-actions">
              <a routerLink="/home" class="btn btn-outline-primary">
                Take me to home page</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <app-layout-footer-short></app-layout-footer-short>

</div>