button, a {
  &.btn {
    border-radius: 0;
    padding: 0.375rem 1.3rem;
  }
  &.btn-outline-primary {
    border-color: $orange;
    color: $orange;
    &:active,
    &:hover {
      background-color: $orange;
      border-color: $orange;
      color: $white;
    }
  }
  &.btn-outline-secondary {
    border-color: $white;
    color: $white;
    &:active,
    &:hover {
      background-color: $white;
      border-color: $white;
      color: $orange;
    }
  }
}
