.gst-icon {
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  display: inline-block;
  height: 20px;
  position: relative;
  width: 20px;

  &.gst-icon-small {
    background-size: 15px 15px;
    height: 15px;
    width: 15px;
  }
  &.gst-icon-medium {
    background-size: 30px 30px;
    height: 30px;
    width: 30px;
  }
  &.gst-icon-large {
    background-size: 45px 45px;
    height: 45px;
    width: 45px;
  }

  &.gst-icon-blue { -webkit-filter: hue-rotate(211deg) saturate(100%) brightness(150%); filter: hue-rotate(211deg) saturate(100%) brightness(150%); }

  &.gst-icon-cog { background-image: url('./assets/images/svg/icon-cog.svg'); }
}