.gst-destination-collection {
  span {
    display: inline;
    &::after {
      content: ', '
    }
    &:nth-last-child(2) {
      &::after {
        content: ' & ';
      }
    }
    &:last-child {
      &::after {
        content: '';
      }
    }
  }
}