.gst-modal {
  .modal-content {
    background-color: #333;
    border: 1px solid black;
    .modal-header {
      background-color: #333;
      color: white;
      .close {
        color: white;
        font-size: 2rem;
      }
    }
    .modal-body {
      background-color: white;
    }
    .modal-footer {
      background-color: #333;
      border-radius: 0 0 0.3rem 0.3rem;
      border-top: 1px solid black;
      color: white;
    }
  }
}