<div class="cpn-welcome-001">
  <div class="cpn-jumbotron">
    <div class="row h-100">
      <div class="col-sm-12 my-auto">
        <div class="w-100 mx-auto">
          <h1>We <span>Create Digital Experiences</span><br>that matter</h1>
          <a href="#" class="btn btn-outline-secondary">FIND OUT MORE</a>
        </div>
      </div>
    </div>
  </div>
  <div class="cpn-welcome-text">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p class="cpn-welcome-text-paragraph">Get Started is proud to have been creating digital experiences for 16 years. With a portfolio that includes some of the biggest
            names in Australian government, retail and the corporate sector, our knowledge and understanding of the digital world is
            well recognised.</p>
        </div>
      </div>
    </div>
  </div>
</div>


