.cpn-welcome-001 {
  .cpn-jumbotron {
    background-image: url('/assets/images/jpg/empty-office-meeting-room.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    height: 360px;
    text-align: center;
    @media (min-width: 992px) {
      height: 550px;
    }
    h1 {
      color: #FFFFFF;
      font-weight: 300;
      span {
        color: #F9792F;
      }
      @media (min-width: 1025px) {
        font-size: 3rem;
      }
    }
  }
  .cpn-welcome-text {
    font-size: 1.3rem;
    font-weight: 300;
    padding: 4rem 0;
    text-align: center;
    @media (min-width: 992px) {
      .cpn-welcome-text-paragraph {
        margin: 0 auto;
        max-width: 700px;
      }
    }
  }
}